.container div {
    text-align: left;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    padding : 10px;
    margin: 5px;    
}

.container {
    display: flex;
    margin: 0;
    padding: 0;   
    background-color: transparent;   
    min-height: 100vh; 
}

.header{
    display: flex;
    align-items: left;
    min-height: 100px;
}

.sidebar{
    background-color: lightblue;
    width: 220px;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    background-color: #f3f8fb;
    margin-bottom: 12px;
    padding: 10px 12px;
    border-radius: 6px;
    text-align: left;
}

.sidebar a {
    display: block;
    color: #003366;
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: underline;
}

* {
  box-sizing: border-box;
  margin : 0;
  padding : 0;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    vertical-align: left;
    min-width: none;
    background-color: white;
}

h3{
    font-size: 24px;
    font-family: serif;
    color: black;
}

h2 {
    font-size: 20px;
    font-family: serif;
    color: black;
    text-decoration-line: underline;
}

h1{
    font-size: 24px;
    font-family: serif;
    color: black;
    text-decoration-line: underline;
}


a:link{
    color: blue;
    text-decoration: none;
}

a:visited{
    color: purple;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: underline;
}

a:active{
    color: green;
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

.content {
    flex: 1;
    padding: 40px;
    background-color: transparent;

}

.content p {
    padding: 30px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content h2 {
    margin-top: 20px;
    font-size: 23px;
}

hr {
    border: none;
    margin: 18px 0;
}